
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: 400 22px/1.5 "Nunito Sans", sans-serif;
    font-size: min(22px, 6vw);
    scroll-behavior: smooth;
}
body {
    --white: #E7ECEF;
    --gray: #8B8C89;
    --blue: #274C77;
    --blue2: #6096BA;
    --blue3: #A3CEF1;
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
    color: var(--blue);
}
h2 {
    margin-bottom: 1rem;
    font: 900 2rem/1.15 "Nunito Sans";
    font-family: inherit;
}
h3 {
    font: 700 1.3rem/1.3 "Nunito Sans";
    font-family: inherit;
}
h4 {
    padding-bottom: 0.2rem;
    font: 700 0.7rem/1.3 "Nunito Sans";
    font-family: inherit;
    text-transform: uppercase;
}
p {
    margin-bottom: 1rem;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}
p a, figcaption a {
    text-decoration: underline;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border-style: none;
    font-weight: 700;
    color: white;
    background-color: var(--blue);
}
.button:active, #back-to-top:active {
    background-color: var(--blue3);
}
.color-bg {
    background-color: var(--white);
}
.photo-bg {
    background-image: linear-gradient(to right, var(--blue), var(--blue)), url(../images/girl.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    color: white;
}
nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: black;
    box-shadow: 0 5px 5px -5px var(--gray);
}
#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}
#logo {
    display: block;
    width: min(100px, 50vw);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#menu li {
    width: 100%;
    text-align: center;
}
.hidden {
    display: none;
}
.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu a {
    display: block;
    padding: 0;
    font: 700 1rem/2 "Nunito Sans";
    color: black;
    background-color: var(--white);
}

#menu a:active {
    background-color: var(--blue3);
    color: var(--blue);
}
h4, #topbar {
    padding-left: 1rem;
    padding-right: 1rem;
    /* text-align: center; */
}
header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 170px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgb(186, 190, 197); */
}
section {
    min-height: calc(100vh - 87px);
    padding: 2rem 1.5rem 3rem 1.5rem;
    /* margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgb(186, 190, 197); */
    scroll-margin-top: 87px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
#kid {
    width: min(150px, 60vw);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#kid img {
    width: 100%;
}
#kid figcaption {
    font-size: 0.45rem;
    color:#9f5fac;
}
p+.button{
    margin-top: 2rem;
}
#services-grid {
    margin-bottom: 2.3rem;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    color: var(--blue);
}
#services-grid > li {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 40px 15%;
    height: min-content;
    /* aspect-ratio: 3 / 1; */
    background-color: var(--white);
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 15px 0px rgb(108, 115, 128);
}
#services-grid i {
    margin-bottom: 20px;
}
#services-grid h3 {
    text-align: center;
}
#services-grid ul {
    align-self: flex-start;
}
#services-grid li li {
    list-style: disc;
    font-size: 0.8rem;
}
form {
    margin-bottom: 1rem;
    width: 100%;
}
.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
}
label {
    width: min(150px, 80vw);
    height: 1.35rem;
}
input {
    appearance: none;
    height: 1.4rem;
    border: 1px solid black;
    padding: 5px;
}
textarea {
    padding: 5px;
}
#store-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer {
    margin: 0.5rem;
}
footer p {
    padding-bottom: 0.1rem;
    font: 400 0.7rem/1.4 "Nunito Sans";
    font-family: inherit;
    text-align: center;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 1.5rem;
    background-color: var(--blue);
    color: white;
}
@media (hover: hover) {
    #menu a:hover, p a:hover {
        color: var(--blue2);
        text-decoration: underline;
        cursor: pointer;
    }
    .button:hover, #back-to-top:hover{
        background-color: var(--blue2);
        cursor: pointer;
    }
}
@media (min-width: 530px) {
    .color-bg {
        background-color: var(--white);
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    #menu{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-right: 1rem;
    }
    #menu a {
        background-color: unset;
    }
    
    #menu a:active {
        color: var(--blue3);
    }
    #burger {
        display: none;
    }
    /* #services {
        flex-direction: column;
    } */
    /* #services-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    #services-grid > li {
        aspect-ratio: 1 / 1;
    } */
}

@media (min-width: 770px) {
    .content {
        flex-direction: row;
        gap: 3rem;
    }
    #kid {
        align-self: flex-start;
        order: 2;
        min-width: 250px;
    }
    #services-grid {
    grid-template-columns: 1fr 1fr;
    }
    .form-row {
        flex-direction: row;
    }
    form {
        flex: 1.5;
    }
    input, textarea, button {
        width: 100%;
    }
    #store-details {
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
    }
    #store-details {
        flex-direction: column;
        justify-content: flex-start;
    }
}